@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f05053, #e1eec3);
}

#gameContainer {
    width: 800px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

/* #difficultyLevel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#difficultyLevel label {
    margin-right: 10px;
} */
#difficultyLevel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#difficultyLevel label {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    display: flex;
    align-items: center;
}

#difficultyLevel input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4CAF50;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 8px; /* Ajout d'un espace entre le bouton radio et le texte */
}

#difficultyLevel input[type="radio"]:checked {
    background-color: #4CAF50;
}

#difficultyLevel input[type="radio"]:hover {
    background-color: #3e8e41;
}

#wordDisplay {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    color: #333;
}

#userInput {
    padding: 10px;
    font-size: 18px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#tex {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
}

#scoreDisplay {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#levelDisplay {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#countdownDisplay {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

#scor p, #niv p, #tem p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

/* #startGame{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#startGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#pauseButton {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#pauseButton:hover {
    background-color: #3e8e41;
}